@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen in dem Tool fuer Buecherverwaltung</h1>
    @Html.ActionLink("Hier gehts zur Anzeige der Buecher", "Index", "Buch")
</div>
