@model FahrzeugLoeschenModel

<p>Wählen Sie ein Fahrzeug aus, das gelöscht werden soll:</p>

<form asp-controller="Fahrzeug" asp-action="Loeschen">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <input type="submit" value="Submit" class="btn bg-primary" />
    </div>
</form>
